html,
body {
	margin:0;
	padding:0;
	font:16px/1 sans-serif;
	color:#222;
	min-height:400px
}

.tabBar {
	background:#AA8;
	height:28px;			
	overflow:hidden;
}

.tabBar ul,
.tabBar ul li {
	display:block;
	padding:0;
	margin:0;
}
.tabBar ul li {
	height:16px;
	line-height:16px;
	padding:10px 0 0 8px;
	float:left;
	font-size:16px;
}

.tabBar h1 {
	font-size:28px;
	line-height:28px;
	margin:0;
	padding:0 0 0 4px;
	float:left;
}

.tabBar a,
.tabBar a:link,
.tabBar a:hover,
.tabBar a:active,
.tabBar a:visited {
	font-weight:bold;
	color:#F9F9F9;
	text-shadow:0 0 2px #333;
	text-decoration:none;
}

.tabBar:before,
.tabBar:after {
  box-shadow: 0 0 5px #333;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  padding: 10px 0 0;
  width: 100%;
}

.tabBar:before {
	margin-top:-10px;
}
.tabBar:after {
	margin-bottom:-10px;
}

#mainSections > div{
	display:none;
}
#mainSections > div.active {
	display:block;
}

html {
	background:#F4F7DE;
}

.content {
	padding-bottom:120px;
}

.content > * {
	padding:0 0 0 200px;
	max-width:600px;
	margin:0;
}

.content h2 {
	font-size:32px;
	padding-top:30px;
}
.content h3 {
	font-size:18px;
	padding-top:15px;
}
.content p {
	padding-top:10px;
}

.content code {
	white-space:pre;
	background:#FFF;
	display:block;
	padding:4px;
	box-shadow:0 0 3px #CCC;
	margin-top:10px;
}
.content em {
	color:#C22;
	text-decoration:none;
	font-style:normal;
	font-weight:bold;
}
.content  ol {
	list-style-position:inside;
}

#interpreter {
	background:#FFF;
}

.breakpoint:before {
	content:"●";
	position:absolute;
	color:#B33;
	margin-left:-6px;
	font-size:1.4em;
}

.activeline {
	background:#FF9 !important;
}

.actions {
	padding:2px 4px 0;
}

.section-headers,
.section-headers li {
	display:block;
	padding:0;
	margin:0;
	text-indent:0;
}
.section-headers {
	padding-top:6px;
}
.section-headers li {
	border-radius:4px 4px 0 0;
	background:#E6E6C4;
	box-shadow:2px -1px 2px #333;
	height:22px;
	line-height:22px;
	margin-right:4px;
	padding:0 16px;
}
.actions,
.section-headers li {
	float:left;
	cursor:pointer;
	font-size:12px;
}
.section-headers li.active {
	background:#FFF;
	padding-top:2px;
	margin-top:-2px;
}

.section-panes {
	clear:both;
	overflow-x:hidden;
	overflow-y:scroll;
	height:300px;
}
.section-panes div,
.section-panes textarea {
	font-family:monospace;
	font-size:12px;
	line-height:12px;
}
.section-panes > div {
	display:none;
	padding:4px;
}
.section-panes > div.active {
	display:block;
}
.section-panes > div#output {
	white-space:pre;
}


.section-panes #input {
	height:100%;
	padding:0;
}
.section-panes textarea {
	width:100%;
	min-height:95%;
	border:0;
	margin:0;
	padding:0;
	resize:none;
	padding:4px;
}

table {
	width:100%;
	vertical-align:top;
}
th {
	font-weight:bold;
	text-align:left;
	padding-left:5px;
	width:1%;
	white-space:nowrap
}
th[colspan] {
	border-bottom:solid 1px;
}
td span {
	background:#F0F0F0;
	white-space:pre;
}
td[colspan] {
	border-left:5px solid #FFF;
}
td.undefined {
	font-style:italic;
	color:#999;
}

.content blockquote {
	color:#C22;
	margin:20px 0 0 20px;
	padding:0 0 0 10px;
	border-left:7px solid;
	font-style:italic;
	font-size:20px;
}